/*
When working in css you this is how you set up the selectors. A selectors can have one more properties.
selector {
    property: value;
    property: value;
    property: value;
    property: value;
}*/

:root{
    --primary-color: red;
    --secondary-color: purple;
}

h1 {
    font-size: 28px;
}

p {
    color:blue;
    text-transform: uppercase;
    font-family:sans-serif;
}

a {
    color: inherit;
}

#hero.container p {
    font-size: 20px;
    line-height: 1.5;
    color: rgba(0,0,0,0.65);
    box-shadow:10px 10px 10px  #8a4182;
    transform: rotate(0deg);
    text-transform: none ;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;;
}

.container.grow {
    height: 100vh;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

ul.navigation > li {
    position: relative;
}

ul.navigation > li a {
    display: block;
    padding: 10px 20px;
}

ul.navigation > li > ul {
    list-style: unset;
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
    border-radius: 5px;
    box-shadow: 0 0 18px -9px #000;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: all ease 0.3s;
    height: auto;
    position: absolute;
    top: 100%;
}

ul.navigation > li:hover > ul {
    opacity: 1;
    pointer-events: all;
}