.jumbotron {
	height: 346px;
	background-size: cover;
}

.light-title-bar {
	background-color: #f8f9fa; /* Set the background color to a light color */
	opacity: 0.8; /* Adjust the opacity as desired */
	font-size: large;
}

@media screen and (max-width: 768px) {
	.light-title-bar {
		display: none; /* Hide the light title bar for screens smaller than 768px */
	}
}

@media screen and (max-width: 768px) {
	.light-title-bar {
		display: none; /* Hide the light title bar for screens smaller than 768px */
	}
}


.user-image {
	height: 25px;
	weight: 25px
	flex-direction: flex-end;
}

.far-fa-use{
height:15px;
weight:15px;
}