body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info {
    color: blue;
    background-color: #88b2ff;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
}

.message-success {
    color: green;
    background-color: #b9f8b9;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
}

.message-warning {
    color: #7f7f03;
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
}

.message-error {
    color: #bc0202;
    background-color: #e59f9f;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
}
