body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-message-info {
    color: blue;
    background-color: #88b2ff;
    /*border: 1px lightgray;*/
    /*font-weight: bold;*/
    width: calc(100%);
    padding: 4px 0 4px 0 ;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.message-message-success {
    color: green;
    background-color: #b9f8b9;
    /*border: 1px lightgray;*/
    /*font-weight: bold;*/
    width: calc(100%);
    padding: 4px 0 4px 0 ;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.message-message-warning {
    color: #7f7f03;
    background-color: yellow;
    /*border: 1px lightgray;*/
    /*font-weight: bold;*/
    width: calc(100%);
    padding: 4px 0 4px 0 ;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.message-message-error {
    color: #bc0202;
    background-color: #e59f9f;
    /*border: 1px lightgray;*/
    /*font-weight: bold;*/
    width: calc(100%);
    padding: 4px 0 4px 0 ;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
