body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info {
    color: #423a9b;
    background-color: #cdddff;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
}

.message-success {
    color: #488c5e;
    background-color: #cff3da;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
}

.message-warning {
    color: #98852f;
    background-color: #fcfbc9;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
}

.message-error {
    color: #89293c;
    background-color: #fad2d7;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
}
